In [43]:
def is_prime(n):
    i = 2
    if n <= 1: return False
    while i*i <= n:
        if n % i == 0:
            return False
        i += 1
    return True

In [44]:
my_list = ["nekot", "m&m", "coffee", "sandwich", "clementines", "evian"]

In [45]:
[item == "coffee" for item in my_list]

[False, False, True, False, False, False]

In [46]:
my_list

['nekot', 'm&m', 'coffee', 'sandwich', 'clementines', 'evian']

In [47]:
my_num_list = [1,2,43,6,4,3,4,765,4,2,4,54,11,8675309, 24601]

In [48]:
[is_prime(num) for num in my_num_list]

[False,
 True,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 False]

In [49]:
[num for num in my_num_list if is_prime(num)]

[2, 43, 3, 2, 11, 8675309]

In [50]:
[num for num in my_num_list if not is_prime(num)]

[1, 6, 4, 4, 765, 4, 4, 54, 24601]

In [51]:
are_prime = [is_prime(num) for num in my_num_list]

In [52]:
d = {key: value for key, value in zip(my_num_list, are_prime)}
d2 = {num: num**2 for num in range(100)}

In [53]:
{key:value for key, value in d2.items() if is_prime(key)}

{2: 4,
 3: 9,
 5: 25,
 7: 49,
 11: 121,
 13: 169,
 17: 289,
 19: 361,
 23: 529,
 29: 841,
 31: 961,
 37: 1369,
 41: 1681,
 43: 1849,
 47: 2209,
 53: 2809,
 59: 3481,
 61: 3721,
 67: 4489,
 71: 5041,
 73: 5329,
 79: 6241,
 83: 6889,
 89: 7921,
 97: 9409}

In [57]:
s1 = {1,2,3,4,5,6}
s2 = {2,4,6,8,10}

In [62]:
s1 ^ s2

{1, 3, 5, 8, 10}

In [64]:
s1.isdisjoint({"a", "b"})

True

In [84]:
print("hi mom", "another", end="TALK TO THE HAND", sep=" BLAH ")

hi mom BLAH anotherTALK TO THE HAND

In [85]:
def a_funk(param1, param2):
    print("p1", param1)
    print("p2", param2)

In [86]:
a_funk(4,5)

p1 4
p2 5

In [91]:
def sing_happy_birthday(name, age):
    print("Happy Birthday to you {}, happy birthday you're {} years old".format(name, age))

In [92]:
sing_happy_birthday("Bryce", 29)

Happy Birthday to you Bryce, happy birthday you're 29 years old

In [93]:
sing_happy_birthday(29, "Bryce")

Happy Birthday to you 29, happy birthday you're Bryce years old

In [94]:
def sing_happy_birthday(name, age=18):
    print("Happy Birthday to you {}, happy birthday you're {} years old".format(name, age))

In [95]:
sing_happy_birthday("Bryce", age=29)

Happy Birthday to you Bryce, happy birthday you're 29 years old

In [96]:
sing_happy_birthday("Bryce")

Happy Birthday to you Bryce, happy birthday you're 18 years old

In [112]:
def splat_funk(*args):
    print(args, type(args))

In [113]:
splat_funk()

() <class 'tuple'>

In [118]:
def print_args(*args):
    for count, thing in enumerate(args):
        print('{}. {}'.format(count + 1, thing))

print_args('pina coladas', 'gunther', 'apple', 'orange', 'coffee', 'bacon')

1. pina coladas
2. gunther
3. apple
4. orange
5. coffee
6. bacon

In [119]:
def key_word_args(**kwargs):
    print(kwargs, type(kwargs))

In [121]:
key_word_args(greet="hi mom", feed="eat lunch", drink="beer")

{'feed': 'eat lunch', 'greet': 'hi mom', 'drink': 'beer'} <class 'dict'>

In [127]:
def annoying_function(breakfast, lunch, dinner):
    print(breakfast)
    print(lunch)
    print(dinner)

In [132]:
meals = {"breakfast":"baconB", "lunch":"baconL", "dinner":"baconD", "elevensies":"hobbits"}

In [135]:
def annoying_function2(**kwargs):
    print(kwargs["breakfast"])
    print(kwargs["lunch"])
    print(kwargs["dinner"])
    if "elevensies" in kwargs:
        print(kwargs["elevensies"])
    print(kwargs.get("tea"))

annoying_function2(**meals, tea="scones")

baconB
baconL
baconD
hobbits
scones

In [140]:
def fixed_args(one, two):
    print(1, one)
    print(2, two)

In [141]:
fixed_args(*["blah", "di"])

1 blah
2 di

In [142]:
def splat_args(pos_1, pos_2, *args):
    print(pos_1)
    print(pos_2)
     print(len(args), args)

In [150]:
my_list = ["which", "what", "this", "that", "another", "yet another", "other"]
splat_args(*my_list)

which
what
5 ('this', 'that', 'another', 'yet another', 'other')

In [157]:
for index, item in enumerate(my_list):
    print("index: {}\titem: {}".format(index, item))

index: 0	item: which
index: 1	item: what
index: 2	item: this
index: 3	item: that
index: 4	item: another
index: 5	item: yet another
index: 6	item: other

In [166]:
list_a = ['a_1', 'a_2', 'a_3', 'a_4']
list_b = ['b_1', 'b_2', 'b_3']
list_c = ['c_I', 'c_II']

for a, b, c in zip(list_a, list_b, list_c):
    print(a, b, c)
    
for chunk in zip(list_a, list_b, list_c):
    print(type(chunk), chunk)

a_1 b_1 c_I
a_2 b_2 c_II
<class 'tuple'> ('a_1', 'b_1', 'c_I')
<class 'tuple'> ('a_2', 'b_2', 'c_II')

In [170]:
for i, (a, b) in enumerate(zip(list_a, list_b)):
    print(i, '=', a, b)

0 = a_1 b_1
1 = a_2 b_2
2 = a_3 b_3

In [190]:
def count_e(s):
    return s.lower().count("e")

In [191]:
assert count_e("") == 0
assert count_e("e") == 1
assert count_e("f") == 0
assert count_e("ee") == 2
assert count_e("44") == 0
assert count_e("E") == 1

In [218]:
def calculate(math_str):
    return sum( [float(val) for val in math_str.split("+")] )

In [219]:
#test that the function exists and takes correct parameters.
calculate("5 + 6")
#test that it returns the right thing for the base case...
assert isinstance(calculate("5 + 6"), float)
assert calculate("5 + 6") == 11
assert calculate("5 + 7") == 12
assert calculate("5 + 7 + 8.5") == 20.5